@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@keyframes arrow-animate {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
* {
  scroll-behavior: smooth;
}

.logo {
  font-family: 'Orbitron', sans-serif !important;
}
.cart-value {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-animate {
  position: relative;
  animation: arrow-animate 1s ease-out 1s infinite;
}
.left-hero {
  width: 100%;
}
.contact-form {
  width: 100% !important;
}
.nav-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 45%;
  }
  .contact-form {
    width: 50% !important;
  }
  .input-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .left-hero {
    max-width: 400px;
  }
}
.to-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
